<!DOCTYPE html>
<html>
<head>
  <title>Timeout</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javasript" src= "https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
